{% extends "padre.html" %}
{% load static %}

{% block content %}
<h1>Lista de Biblias</h1>

<ul>
    {% for biblia in biblias%}
        <li>
            <p><strong>{{ biblia.nombre }} {{ biblia.tapa}} {{ biblia.version }} - {{ biblia.editorial }}</strong></p>
            <a href="{% url 'detalle-biblia' biblia.pk %}">Ver Detalle</a>
            <a href="{% url 'editar-biblia' biblia.pk %}">Editar</a>
            <a href="{% url 'eliminar-biblia' biblia.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay biblias disponibles.</li>
    {% endfor %}
</ul>
{% endblock %}