{% extends "padre.html" %}
{% load static %}


{%block content%}
<h2>Acerca de Mi</h2>
<p>Mi nombre es Ignacio Romero Barolin de la ciudad de Bell Ville, provincia de Córdoba. Actualmente tengo 24 años, estoy felizmente casado y tengo un hijo de 6 años. Mi mayor objetivo es poder vivir de la programación, por eso comencé este curso, para poder ampliar un poco más mis conocimientos dado que tengo realizados cursos de Desarrollo Web, JavaScript y React en esta misma plataforma, y Python era uno de mis próximos objetivos junto con Backend para llegar a ser programador Fullstack</p>
{%endblock%}